
@media screen and (orientation:landscape) {

.hero{
 height:800px;
 background-color: var(--grey-300);
}

.hero h2{
  font-size: 2.5em;
  margin-bottom: 0;
}

.hero h4{
  font-size: 1.5em;
  margin-top: 0;
}

.whoiam{
  text-align:center;
  margin:100px 25% 100px 25%;
}

.whoiam h1{
  font-size: 2em;
}

.heroTitle{
  padding:300px 0px 0px 50px;
}

.projects{
  background-color:var(--grey-900);
  text-align:center;
  padding:50px 25% 100px 25%;
}

.goals{
  text-align:center;
  padding:100px 25% 100px 25%;
  background-color:var(--grey-200);
}

.testimonials{
  background-color:white;
  text-align:center;
  padding:50px 20px 100px 20px;
}

.ctaBox{
  padding:30%;
}

.footer{
  background-color:var(--grey-900);
  text-align:center;
  padding:20px;
}

.footer h1{
  font-size: 0.7em;
  font-weight: normal;
  margin-bottom:0;
  padding-bottom: 0;
}

.footer p{
  margin-top:0;
  padding-bottom: 0;
  font-size:0.5em;
}

}

@media screen and (orientation:portrait) {
.whoiam{
  text-align:center;
  margin:50px 5% 50px 5%;
}

.hero{
 height:800px;
 background-color: var(--grey-300);
}

.heroTitle{
  padding:300px 0px 0px 50px;
}

.projects{
  background-color:var(--grey-900);
  text-align:center;
  padding:50px 15% 100px 15%;
}

.goals{
  text-align:center;
  padding:50px 5% 50px 5%;
  background-color:var(--grey-200);
}

.testimonials{
  background-color:white;
  text-align:center;
  padding:50px 20px 100px 20px;
}

.ctaBox{
  padding:20%;
}

.footer{
  background-color:var(--grey-900);
  text-align:center;
  padding:20px}
}
